body{
	background-image: url('/home/froggy/Programs/WebD/udemy-course/section-7/images/trex.jpg');
	background-size: cover;
	background-attachment: fixed;
}

h1{
	text-align: center;
	color: #874633;
	font-style: monospace;
	font-family: sans-serif;
	border: solid;
	border-color: black; 
	font-size: 48px
}

em{
	color: silver;
}

div{
	display: flex;
}

li{
	margin-top: 10px;
	margin-bottom: 10px;
}

.left-paragraph{
	text-align: left;
	color: grey;
	font-style: monospace;
	font-family: serif;
	font-size: 16px;
	height: 100%;
	width: 50%;
	margin-left: 10px;
	left: 0;
}

.left-image{
	width: 300;
	height: 400;
	margin-left: 12%
}

.left-heading{
	width: 50%;
	text-align: center;
	border: dotted;
	border-color: black;
	font-size: 22px;
	color: #874633;
}

.right-heading{
	height: 100%;
	width: 50%;
	right: 0;
	z-index: 1;
	text-align: center;
	border: dotted;
	border-color: black;
	font-size: 22px;
	color: #874633;
}
.right-paragraph{
	text-align: left;
	color: grey;
	font-style: monospace;
	font-family: serif;
	font-size: 16px;
	height: 100%;
	width: 50%;
	margin-left: 10px;
	left: 0;
}
